
.back-image{
    background-image: url('../assets/Images/GoodOne.jpg');
    min-height: 80vh;
}

.back-image_banner1{
    background-image: url('../assets/Images/bannerb.jpg');
    min-height: 80vh;
}
.background-row{
    background-color: #eaf3fa !important;
    margin-left: 1px;
    margin-right: 1px;
}
.wcomp{
    color: white;
    font-weight: 200;
}

.tecde{
    color: aliceblue;
    font-weight:500;
}

.text-yellow{
    color:black;
}

.services{

    padding-top: 60px;
    font-weight:bolder;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-service{
    font-weight: bold;
    font-size: large;
}

.btn-j{
    font-size: large;
}

.card-header{
    width: 100%!important;
   
}

.joins{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
    width:10%;
  }

  .my-btn {
    background-color: #8c6c44;
    color: #fff;
    border: 1px solid #8c6c44;
}
.btns {
    transition: all .5s ease;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

.tab-nav {
  
    border-radius: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .tab-nav li:first-child {
        width: 100%;
    }
}
.tab-nav li {
    width: 100%;
}
.tab-nav li:first-child {
    width: calc(100% + 131px);
}

.tab-nav li {
    width: 100%;
    display: block;
}
ol, ul {
    list-style: none;
    display: block;
}

.tab-nav li a {
    align-items: center;
    border-radius: 25px;
    color: #5d676e;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    justify-content: center;
    padding: 0 28px;
    transition: all .3s ease-in-out;
}

.tab-nav .tab-nav__cta--active a {
    background: #009b5d;
    color: #fff !important;
   
    padding: 0;
}

@media (max-width: 768px) {
    .tab-nav li.tab-nav__cta--active a {
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .tab-nav li a {
        font-size: 14px;
        font-weight: 500;
        height: 32px;
        padding: 0 19px;
    }
}

.tab-nav ul {
    background: #f3f6f7;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    margin: 24px auto;
    padding: 6px;
    width: 706px;
}

@media (max-width: 768px) {
    .tab-nav ul {
        margin: 10px auto 8px;
        width: 326px;
    }
}

.career{
    background-color: #f3f6f7!important;
}

.active-b{
   background-color: #009acc!important;
   font-weight:100;
   color: white!important;
}

.round-career{
    border-radius: 15px!important;
}
.rounded-c{
    border-radius: 15px!important;
}

/* For small screens (phones) */
@media (max-width: 576px) {
    .rounded-c {
        font-size: 8px;
        height: 22px!important;
        padding-bottom: 20px!important;
        font-weight: bold;
    }
    .joins{
        font-size: 12px!important;
        width: 30%!important;
        margin-top: 58%!important;
       
    }
}

@media (max-width: 570px) {

    .rounded-c {
        font-size: 6px!important;
        height: 22px!important;
        padding-bottom: 20px!important;
        width: 100%!important;
     
    }
    .joins{
        font-size: 12px!important;
        width: 30%!important;
        margin-top: 58%!important;
       
    }
    /* styles for screens smaller than 576px */
  }

/* For medium screens (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .rounded-c {
        font-size: 12px;
        height: 22px!important;
        padding-bottom: 20px!important;
    }
    .joins{
        font-size: 12px!important;
        width: 30%!important;
        margin-top: 58%!important;
    }
}
/* For large screens (desktops) */
@media (min-width: 993px) {
    body {
         font-size: 18px;
    }
}
.rounded-c {
    font-size: 12px;
    height: 22px!important;
    padding-bottom: 20px!important;
    line-height:0.2;
}

.font-wei{
        font-family: Nunito Sans;
        color: #009b5d;
        background-color:   #eaf3fa!important;;
        font-weight: bold;
        height: 45px;
        font-size: 14px;
        line-height:3;
}
.font-weight-card{
    color: #646464;
    font-size:16px;
    line-height:20px;
    font-family:"Font Awesome 6 Free";
}
.card-title-color{
   background-color:  #009acc!important;
}

.card{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid rgba(9, 9, 6, .125);
    border-radius: .25rem;
}

.my-card-body{
    background-color: #fff;
    padding: .5rem;
    margin: 0 .15rem .15rem .15rem;
    border-radius: .25rem;
}


@media (max-width: 991px) {
    .stats .stats__inner ul {
        margin: 0;
        padding: 0 25px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .stats ul {
        margin-right: 55px;
    }
}

@media (max-width: 1024px) {
    .stats ul {
     margin-right: 55px;
    }
}

.f-center {
    align-items: center;
    display: flex;
}
ol, ul {
    list-style: none;
}
/* #0b2441; */
.stats {
    background:  #009acc!important;
    min-height: 50px;

}
.explorediv{
    background-color:#eaf3fa;

}
.explorediv ul li{
        align-items: center;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .1);
        height: 156px;
        justify-content: center;
        margin: 0 42px 38px 0;
        padding: 0 27px;
        text-align: center;
        transition: transform .3s ease-in-out;
        width:183px;   
}
.explorediv ul li .gets{
    color: #5d676e;
    font-size: 15px;
}

.explorediv ul li h4{
    font-weight: 400!important;
    color: #009acc!important;
    font-size: 18px!important;
}




.font-sizee{
font-size: 24px;
font-weight: 900;
line-height: 54px;

}

.stats li span {
    font-weight: 500;
    margin: 0 4px 0 17px;
}

@media (max-width: 991px) {
    .stats .stats__inner ul li span {
        margin: 0;
    }
}

.stats li {
    align-items: center;
    color: #fff;
    display: flex
;
    margin-right: 64px;
}



.f-center {
    align-items:center;
    display: flex
;
}

.stats .stats__inner .stats__img {
    border-right: 1px solid rgba(231, 240, 245, .631);
    padding-right: 12px;
    width: 507px;
}

.stats .stats__inner>div {
    height: 44px;
    justify-content: flex-end;
}

.stats .stats__inner .stats__img {
    border-right: 1px solid rgba(231, 240, 245, .631);
    padding-right: 12px;
    width: 507px;
}

.stats .stats__inner>div {
    height: 44px;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .stats .stats__inner {
        flex-direction: column;
    }
}

.stats .stats__inner {
    height: 100%;
    margin: 0 auto;
    max-width: 1366px;
}

@media (max-width: 991px) {
    .stats .stats__inner ul li {
        background: hsla(0, 0%, 100%, .24);
        border-radius: 12px;
        flex-direction: column;
        font-size: 14px;
        height: 84px;
        line-height: 20px;
        margin-right: 0;
        padding: 10px 0;
        width: 90px;
    }
}
@media (max-width: 991px) {
    .stats .stats__inner ul li {
        background: hsla(0, 0%, 100%, .24);
        border-radius: 12px;
        flex-direction: column;
        font-size: 14px;
        height: 84px;
        line-height: 20px;
        margin-right: 0;
        padding: 10px 0;
        width: 90px;
    }
}


@media (max-width: 1320px) {
    .stats li {
        margin-right: 25px;
    }
}

.stats li {
    align-items: center;
    color: #fff;
    display: flex;
    margin-right: 64px;
}

.stats li:last-child {
    margin-right: 0;
}

.center-data{
    margin: auto;
    background-color: #009b5d;
}
.center-data .image-align{
    border-radius: 15px;
  
}
.profile-area{
    padding: 30px 0;
}
.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border:7px solid #fff;
    margin-top: -1px;

}

.card:hover .img2 img{
    border-color: darkcyan;
    transition: .7s;
}
.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform:uppercase ;
    font-weight: 900;
    font-size: 16px;
    margin: 0 0 16px;
}
.main-text p{
   font-size: 16px;
   padding: 0 35px; 
}
.socials{
    text-align: center;
    padding-bottom: 20px;
}

.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}