
.myActive{
  
    color: rgba(0, 0, 0, 0.885)!important;
    border-radius: 10px;
}

.nav-link{
    font-size: 14px!important;
    font-weight: bold;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

.LogIcon{
    height: 40px;
    width: 40px;
}

.footer-color{
    background: #ffffff!important
}

.nav-bar-bg-color{
    background: #ffffff!important
}

.icon-text-color{
color:  #060318!important;
font-weight: bolder!important;
}
.icon-com-color{
    color:  #060318!important;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.text-dec{
    text-decoration: none;
    font: 400 14px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 24px;
}

.btn-p{
    background-color: brown;
    font-size: 20px;
    color: beige;

}

  .searchb {
    border: 1px solid #ccc;
  }

  .mybutton {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .mybb:hover {
    background: #ccc;
  }

  .image-size
   {
     width:80px;
     height: 40px;
   
  }

 