
.card-m{
    padding: 0px 0px!important;
    box-shadow:2px 2px 4px rgba(1, 0, 0, .1), 2px 8px 16px rgba(0, 0, 0, .1)!important;
    content: '';
    width:79%;
}
.panel-color
 {
   background-color:  #f5f5f5;
   color: #333!important;
   border-color: #ddd!important;
 }
.form-field:focus{
   outline: none!important;
   border: 0px !important;
   box-shadow: none!important;
}
.form-field{
  border-radius: 0px!important;
}
.custom-control-label{
  font-size: 14px;
}