
.horizontal-list li{
    display: inline-block;
    margin-right: 15px;
    
}

.horizontal-list li> a{
    text-decoration: none;
}
.horizontal-list {
    padding: 0;
    list-style: none;
  }

  ul li a{
    text-decoration: none;
    color: white;
  }

  .sub-line-height{
    line-height: 3;
  }

  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #1acc8d;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top .active {
  visibility: visible;
  opacity: 1;
}

/* .scroll-top :hover{
  background-color: #071712 ,transparent 20%!important;
  color: #ffffff!important;
} */

.scroll-top :hover{
   background-color:#091511,transparent 20% !important;
   color:#ffffff!important;
}

a {
color: #1acc8d;
  text-decoration: none;
  transition: 0.3s;
}