
.alert-color{
    background-color: #ffcb2d!important;
}

.top-wrapper{
    font-family: Nunito Sans;
    color: #2e2e2e;
    background-color:   #f5f5f5!important;
    font-weight: bold;
    height: 45px;
    font-size: 14px;
}
