
.alert-color{
    background-color: #ffcb2d!important;
}



.top-wrapper {
    font-family: Nunito Sans;
    color: #009b5d;
    background-color:   #eaf3fa!important;
    font-weight: bold;
    height: 45px;
    font-size: 14px;

  }
  
 