
.alert-color{
    background-color: #ffcb2d!important;
}



.top-wrapper {
    font-family: Nunito Sans;
    color: #009b5d;
    background-color:   #eaf3fa!important;
    font-weight: bold;
    height: 45px;
    font-size: 14px;
    z-index: 999;

  }
  .downloadIncon{
    background:#1acc8d!important;
    color: white;
    font-weight: 800;
   position: relative;
   margin-left: 20px;
   padding: 6px 0px;
   max-width: 100px;
   line-height: 2;
}
 